
/build
AssemblyInfo.cs

# NuGet
packages/*

# Standard VS.NET and ReSharper Foo
.vs/*
src/*/obj
src/*/bin
samples/*/obj
samples/*/bin
*.csproj.user
*ReSharper.user
_ReSharper*
*.suo
*.cache
* Thumbs.db

# Leftovers from merges
*.orig
*.bak
*.sln.DotSettings.user
*.DotSettings.user
