
/build
AssemblyInfo.cs

# Standard VS.NET and ReSharper Foo
.vs/*
*.user
src/*/obj
src/*/bin
samples/*/obj
samples/*/bin
_ReSharper*
*.suo
*.cache
* Thumbs.db

# Leftovers from merging
*.orig
*.bak

# Buildscripts artifacts
buildscripts/**/obj/
buildscripts/**/bin/

# Tools artifacts
tools/**/obj/
tools/**/build/

# Docs artifacts
docs/obj/
docs/bin/
