<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<facilities>
			
			<facility 
				id="event.wiring"
				type="Castle.Facilities.EventWiring.EventWiringFacility, Castle.Windsor" />
			
			<facility 
				id="startable"
				type="Castle.Facilities.Startable.StartableFacility, Castle.Windsor" />

		</facilities>

		<components>
			
			<component 
				id="SimplePublisher" 
				type="SimplePublisher" >
				<subscribers>
					<subscriber id="SimpleListener" event="Event" handler="OnPublish"/>
					<subscriber id="SimpleListener2" event="StaticEvent" handler="OnPublish"/>
				</subscribers>
			</component>
			
			<component 
				id="MultiPublisher" 
				type="MultiPublisher" />
			
			<component 
				id="SimpleListener"
				type="SimpleListener" />
			
			<component 
				id="SimpleListener2" 
				type="SimpleListener" />
		</components>

</configuration>