<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <facilities>

    <facility type="Castle.Facilities.EventWiring.EventWiringFacility, Castle.Facilities.EventWiring" />

  </facilities>
  <components>

    <component
				id="HasSubscriberWithDependency"
				type="PublisherListener">

      <subscribers>
        <subscriber id="SubscriberWithDependency" handler="OnPublish" event="Event1" />
      </subscribers>
    </component>

    <component
				id="HasSubscriberWithGenericDependency"
				type="PublisherListener">

      <subscribers>
        <subscriber id="SubscriberWithGenericDependency" handler="OnPublish" event="Event1" />
      </subscribers>
    </component>

    <component
      id="SubscriberWithDependency"
      type="SubscriberWithDependency" />

    <component
      id="SubscriberWithGenericDependency"
      type="SubscriberWithGenericDependency" />

    <component
      id="GenericService"
      type="EmptyGenericClassService`1" />

    <component
      id="SimpleService"
      type="EmptyClassService" />
  </components>
</configuration>