<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<facilities>
		<facility type="Castle.Facilities.EventWiring.EventWiringFacility, Castle.Facilities.EventWiring" />
	</facilities>

	<components>
		<component 
			id="SimpleListener" 
			lifestyle="transient" 
			type="SimpleListener" />

		<component 
			id="BadConfig" 
			lifestyle="transient" 
			type="SimpleListener" />

		<component 
			id="SimplePublisher" 
			type="SimplePublisher" >
			<subscribers>
				<subscriber id="SimpleListener" event="Event" handler="OnPublish"/>
				<subscriber id="BadConfig" event="EventIahhh123" handler="OnPublish" />
			</subscribers>
		</component>

	</components>

</configuration>