<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="nhf.dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
		<add key="nhf.connection.driver_class" value="NHibernate.Driver.Sql2008ClientDriver" />
		<add key="nhf.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
		<add key="nhf.connection.connection_string.1" value="Server=(local);initial catalog=test;Integrated Security=SSPI" />
		<add key="nhf.connection.connection_string.2" value="Server=(local);initial catalog=test2;Integrated Security=SSPI" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
</configuration>