<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="nhf.dialect" value="NHibernate.Dialect.MsSql2000Dialect" />
		<add key="nhf.connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
		<add key="nhf.connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
		<add key="nhf.connection.connection_string.1" value="Server=(local);initial catalog=test;Integrated Security=SSPI" />
		<add key="nhf.connection.connection_string.2" value="Server=(local);initial catalog=test2;Integrated Security=SSPI" />
		<add key="nhf.proxyfactory.factory_class" value="NHibernate.ByteCode.Castle.ProxyFactoryFactory, NHibernate.ByteCode.Castle" />
	</appSettings>
</configuration>
