<?xml version="1.0"?>

<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  <appSettings>
    <add key="arg1" value="a string" />
    <add key="number" value="42" />
    <add key="name" value="a string" />
  </appSettings>
  <castle>
    <facilities>

      <facility type="NoopFacility">
        <item>value</item>
      </facility>
      <facility type="Noop2Facility">
        <![CDATA[value within CDATA section]]>
      </facility>

    </facilities>

    <components>

      <component id="testidcomponent1">
        <item>value1</item>
      </component>

      <component id="testidcomponent2">
        <item>value2</item>
      </component>

      <component id="calcservice" service="ICalcService" type="CalculatorService">
        <item>value1</item>
      </component>
    </components>
  </castle>

  <system.diagnostics>
    <performanceCounters filemappingsize="5242880" />
    <sources>
      <source name="Default" switchValue="Information">
        <listeners>
          <add name="stdout"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="stdout" type="System.Diagnostics.ConsoleTraceListener"/>
    </sharedListeners>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>