<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="myInterceptor" type="Castle.Windsor.Tests.Interceptors.ResultModifierInterceptor, Castle.Windsor.Tests"/>
    <component
        id="ValidComponent"
        type="Castle.Windsor.Tests.Components.CalculatorService, Castle.Windsor.Tests">
      <interceptors>
        <interceptor>${myInterceptor}</interceptor>
      </interceptors>
    </component>
    <component
        id="ComponentWithNonExistingInterceptor"
        type="Castle.Windsor.Tests.Components.CalculatorService, Castle.Windsor.Tests">
      <interceptors>
        <interceptor>${NonExistingInterceptor}</interceptor>
      </interceptors>
    </component>
  </components>
</configuration>
