<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="cache_finder" service="IResultFinder`1"
      type="CacheResultFinder`1"/>
    <component id="db_finder" service="IResultFinder`1"
      type="DatabaseResultFinder`1"/>
    <component id="ws_finder" service="IResultFinder`1"
      type="WebServiceResultFinder`1"/>
    <component id="string_finder" service="IResultFinder`1[[System.String, mscorlib]]"
      type="ResultFinderStringDecorator"/>
  </components>
</configuration>