<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <components>
    <component service="Castle.MicroKernel.Tests.Configuration.Components.IConfig, Castle.Windsor.Tests"
               type="Castle.MicroKernel.Tests.Configuration.Components.Config, Castle.Windsor.Tests">
      <parameters>
        <Name>value</Name>
        <Servers>
          <array>
            <item>
              <Name>Database</Name>
              <IP>3.24.23.33</IP>
            </item>
            <item>
              <Name>Web</Name>
              <IP>3.22.23.23</IP>
            </item>
          </array>
        </Servers>
      </parameters>
    </component>
  </components>
</configuration>