<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="cache_finder" service="IResultFinder`1"
      type="CacheResultFinder`1">
      <parameters>
        <finder>${db_finder}</finder>
      </parameters>
    </component>
    <component id="db_finder" service="IResultFinder`1"
      type="DatabaseResultFinder`1">
      <parameters>
        <finder>${ws_finder}</finder>
      </parameters>
    </component>
    <component id="ws_finder" service="IResultFinder`1"
      type="WebServiceResultFinder`1">
      <parameters>
        <finder>${failed_finder}</finder>
      </parameters>
    </component>
    <component id="failed_finder" service="IResultFinder`1"
      type="FailedResultFinder`1"/>
  </components>
</configuration>