name: Build and test on linux

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    # Building requires an up-to-date .NET SDK.
    - name: Setup dotnet
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: | 
          6.0.x
          7.0.x
        
    # Restore and build
    - name: Restore dependencies
      run: dotnet restore      
    - name: Build Nuget Versions
      run: dotnet build ./tools/Explicit.NuGet.Versions/Explicit.NuGet.Versions.sln      
    - name: Build Release
      run: dotnet build Castle.Windsor.sln -c Release
      
    # Run tests for linux
    - name: Test on .NET 6.0
      run: |
        dotnet test src/Castle.Windsor.Tests -c Release -f net6.0 --no-build --no-restore -l "console;verbosity=detailed"
        dotnet test src/Castle.Windsor.Extensions.DependencyInjection.Tests -c Release -f net6.0 --no-build --no-restore -l "console;verbosity=detailed"